.friendrow{
    display: flex;
    flex-direction: row;

    .friend{
        font-size: 1em;
        display: flex;
        flex-direction: column;
        margin: 0.5em;
        align-items: center;
        &:first-child {
            margin-left: 0;
        }

        img {
            width: 5em;
            height: 5em;
            border-radius: 15em;
            object-fit: cover;
            margin: 0.7em 0.7em 0.3em 0.7em;
        }

        p, a{
            margin-bottom: 0.5em;
        }
        
    }
}