    form {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-top: 1.5em;

        input  {
            height: 2em;
        }

        .contentInput {
            margin-bottom: 1em;
        }

    }



.createPost {
    width: 100%;
    border: dashed 1px grey;
    cursor: pointer;
    align-self: center;
    padding: 2em;
    margin: 2em auto 1em auto;
    background-color: transparent;
    color: gray;
    border-radius: 1em;

    &:hover {
        background-color: grey;
        color: white;
    }


}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;

}

.discard {
    border: none;
    background-color: rgba(128, 128, 128, 0.1);
    cursor: pointer;
    color: red;
    width: 20%;
    padding: 0.5em;
    border-radius: 0em;

    &:hover{
        background-color: red;
        color: white;
    }
}

.compose {
    color: white;
    border: unset;
    cursor: pointer;
    width: 20%;
    padding: 0.5em;
    border-radius: 0em;
    background-color: rgba(128, 128, 128, 0.1);
    color: black;

    &:hover {
        color: white;
        background-color: grey;
    }

}

::ng-deep #hashtags::placeholder:before {
    content: "#";
}