<button *ngIf="!postService.showInput" (click)="postService.showInput = true" class="createPost">
    Verfasse einen neuen Post
</button>

<div *ngIf="postService.showInput" class="card default-card" style="padding: 1.5em;">
  <form  action="">
    <label for="content">Schreibe deinen Post </label>
    <input type="text" id="content" [(ngModel)] = "postService.content" name="content" class="contentInput"> 

    <label for="hastags">Hashtags (optional) </label>
    <input type="text" id="hashtags" [(ngModel)]="postService.hashtags" name="hashtags" (input)="postService.addHashtags()">
</form>

<div *ngIf="postService.showInput" (click)="postService.showInput=false" class="buttons">
<button class="discard">
    Abbrechen
</button>

<button class="compose" (click)="postService.addPost()">
    Post verfassen
</button>
</div>  
</div>


