<div class="container py-4">
  <!--Section: Invoice-->
  <section>
    <div class="card mb-4">
      <div class="card-body py-3">
        <div class="row">
          <div class="col-sm-6 text-center text-sm-start">
            <h5 class="mb-3 mb-sm-0 mt-1">Invoice #124190</h5>
          </div>

          <div class="col-sm-6 text-center text-sm-end">
            <button type="button" class="btn btn-danger me-2">Pay now</button>
            <button type="button" class="btn btn-primary">
              <i class="fas fa-print me-1"></i>
              Print
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mb-4 mb-md-0 text-center text-md-start">
            <p><small>From:</small></p>
            <p><strong>Awesome Company Inc</strong></p>
            <p>134 Richardson Ave</p>
            <p>San Francisco, CA 94123</p>
            <p><strong>Invoice date:</strong> November 18, 2020</p>
            <p><strong>Due date:</strong> December 2, 2020</p>
          </div>

          <div class="col-md-6 text-center text-md-end">
            <h5>
              <small>Invoice No.</small><br /><strong
                ><span class="text-primary">#124190</span></strong
              >
            </h5>

            <p><small>To:</small></p>
            <p><strong>The Company, Inc</strong></p>
            <p>1-245 East Russel Road</p>
            <p>Munger, MI 48747</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="table-responsive mb-4">
          <table class="table">
            <thead>
              <tr>
                <th>Item list</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Tax</th>
                <th>Total price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>MDBootstrap Corporate License</td>
                <td>1</td>
                <td>$319</td>
                <td>$73.37</td>
                <td>$319</td>
              </tr>
              <tr>
                <td>Material Design for Wordpress</td>
                <td>2</td>
                <td>$69</td>
                <td>$31.74</td>
                <td>$138</td>
              </tr>
              <tr>
                <td>MDBootstrap Portfolio Template Personal Licence</td>
                <td>1</td>
                <td>$49</td>
                <td>$11.27</td>
                <td>$49</td>
              </tr>
              <tr>
                <td>MDBootstrap Magazine Corporate Licence</td>
                <td>1</td>
                <td>$249</td>
                <td>$57.27</td>
                <td>$249</td>
              </tr>
            </tbody>
          </table>
        </div>

        <ul class="list-unstyled text-end">
          <li>
            <strong>Sub Total:</strong><span class="float-end ms-3">$755</span>
          </li>
          <li>
            <strong>TAX:</strong><span class="float-end ms-3">$173,65</span>
          </li>
          <li>
            <strong>TOTAL:</strong><span class="float-end ms-3">$755</span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!--Section: Invoice-->
</div>
