<div class="profile-row">
    <img src={{capybaras[0].image}} alt="">
    <div>
        <!-- <a routerLink="/profile" (click)="dataService.profileIndex = capybaras[0].id"><b>{{capybaras[0].name}}</b></a> -->
        <a [routerLink]="['/profile', capybaras[0].name]" (click)="dataService.profileIndex = capybaras[0].id">  <b>{{capybaras[0].name}}</b></a>
       
        <span> {{capybaras[0].description}}</span> <br>
        <!-- <a *ngIf="capybaras[0].canFollow" (click)="fs.addFriend(name, text, source); canFollow=false">adden</a> -->
    </div>
    
</div>




  <!-- <a [routerLink]="['/profile', capybaras[0].id]" (click)="dataService.profileIndex = capybaras[0].id">  <b>{{capybaras[0].name}}</b> -->
