<div class="container pt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card text-center">
        <div class="card-header p-4">
          <h5 class="mb-0"><strong>Change password</strong></h5>
        </div>
        <div class="card-body p-4">
          <p class="mb-4">Set a new password</p>

          <form action="" class="mb-4">
            <mdb-form-control class="mb-4">
              <input
                mdbInput
                type="password"
                id="newPassword"
                class="form-control"
              />
              <label mdbLabel class="form-label" for="newPassword"
                >New password</label
              >
            </mdb-form-control>

            <mdb-form-control class="mb-4">
              <input
                mdbInput
                type="password"
                id="confirmPassword"
                class="form-control"
              />
              <label mdbLabel class="form-label" for="confirmPassword"
                >Confirm password</label
              >
            </mdb-form-control>

            <button type="button" class="btn btn-primary">Apply</button>
          </form>

          <div class="d-flex justify-content-between align-items-center mb-2">
            <u><a href="">Back to Log In</a></u>

            <u><a href="">Register</a></u>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
