<div class="multi-range-slider">
  <span
    *ngFor="let item of [].constructor(numberOfRanges); let index = index"
    mdbMultiRangeThumb
    [startValue]="startValues[index]"
    [max]="max"
    [min]="min"
    [step]="step"
    class="thumb"
    #rangeThumb="mdbMultiRangeThumb"
    tabindex=0
  >
    <!--  -->
    <div *ngIf="rangeThumb.showTooltip && tooltip" [@fadeIn]>
      <ng-container
        *ngTemplateOutlet="tooltipValue; context: { $implicit: val[index] }"
      ></ng-container>
    </div>
  </span>

  <ng-template #tooltipValue let-value>
    <div class="multi-range-slider-tooltip">
      <div class="multi-range-slider-tooltip-value">{{ value }}</div>
    </div>
  </ng-template>
</div>
