<app-header></app-header>
    <!-- <div>
       <a routerLink="">Zurück zum Feed</a> 
       <h2>Profil</h2>
    </div> -->

<div class="container">
    <div class="feed">
        <!-- <div> -->
            <a routerLink="">Zurück zum Feed</a>
            <h2>Profil</h2>
        <!-- </div> -->

        <div class="profile card default-card">
            <img src="{{capybaras[dataService.profileIndex].image}}" alt="" class="profilePicture">
            <div class="profileDescription">
                <h2>{{capybaras[dataService.profileIndex].name}}</h2>
                <p><b>Beschreibung:</b> {{capybaras[dataService.profileIndex].description}}</p>
                <p><b>Hobbies:</b> {{capybaras[dataService.profileIndex].hobbies}}</p>
                <p><b>Alter:</b> {{capybaras[dataService.profileIndex].age}}</p>
                <app-friendbox ></app-friendbox>
                <button *ngIf="capybaras[dataService.profileIndex].id != 0 && capybaras[dataService.profileIndex].canFollow == true" (click)="friendService.addFriend(capybaras, dataService.profileIndex)" class="addFriendButton">Als Freund hinzufügen</button>
                <button *ngIf="capybaras[dataService.profileIndex].id != 0 && capybaras[dataService.profileIndex].canFollow == false" (click)="friendService.removeFriend(capybaras, capybaras[dataService.profileIndex].id)" class="addFriendButton">Als Freund entfernen</button>

<app-friendbox ></app-friendbox>
            </div>

        </div>
    </div>

    <div class="flexrow">
        <b>Dein Profil</b>
        <app-profile-row></app-profile-row>
        <app-proposals></app-proposals>
    </div>
</div>