.profile {
    display: flex;
    align-items: flex-start;
    // margin:2em;

    .container {
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        width: 60%;
    }

    .profilePicture {
        width: 30vw;
        // height: 60px;
        border-radius: 20%;
        object-fit: cover;
        object-position: center;
        margin: 1em;
    }
}