a {
    padding: 3 em;
}

.container {
    display: flex;
    // align-items: flex-start;
    justify-content: center;
    // margin: 0 auto;

    .feed {
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        gap: 1.5em;
        max-width: 70%;
margin: 0 auto;
    }

    .profile {

        // padding: 1.5em;
        display: flex;
        flex-direction: row;
        // justify-content: center;
        // gap: 1.5em;
        width: 100%;
        margin: 0;

        h3, p, ul, li {
            margin: 0.2em 0;
        }

            .profilePicture {
        width: 30%;
        // height: 30vw;
        // border-radius: 25px;
        object-fit: cover;
        // object-position: center;
        // margin: 1em auto;
    }

    .profileDescription {
        justify-content: center;
        padding: 1.5em;
    }

    }




    .flexrow {
        padding: 1.5em 0;
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        top: 0;
        margin: 0 auto;

    }
}