button {
    position: fixed;
    bottom: 2em; /* Place the button at the bottom of the page */
    right: 2em; /* Place the button 30px from the right */
    z-index: 99; 
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--main-color); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: all 0.3s;
    

    &:hover {
        padding: 25px;
        background-color: white;
        color: var(--main-color);
        border: solid 1px var(--main-color);
        // font-size: 32px;
    }
}