h2 {
    // margin: 1em 0 1em 0;
}


.card {
    // height: 100%;

    // width: 50%;
    margin: 2em auto;

    &:first-child {
        margin-top: 0;
    }

    .postUser {
        display: flex;
        // vertical-align: center;

        .postUserPicture {
            width: 3em;
            height: 3em;
            border-radius: 15em;
            object-fit: cover;
            margin: 0.7em 0.7em 0.3em 0.7em;
            display: inline;
        }

        .author {
            font-style: italic;
            margin: 1.5em 0 0 0;
        }
    }

    .comment {
        margin: 1.5em 0 0 0;
    }


    img {
        width: 100%;
        height: 50%;
    }

    p {
        margin: 1em;
    }

    .post {
        margin: 1.5em 1em;

        .hashtags {
            color: darkblue;
        }
    }

    .comments {
        margin: 1.5em 1em;

        h3 {
            margin: 0 0.75em;
            display: inline;
            font-size: 1.2em;
        }

        .removeCommentButton,
        .editCommentButton {
            border: unset;
            cursor: pointer;
            align-self: center;
            padding: 0.5em;
            margin: 0 0.75em;
            display: inline;
            font-size: 0.7em;
            color: grey;

            &:hover {
                background-color: grey;
                color: white;

            }
        }

        .removeCommentButton:hover {
            background-color: red;
        }

        .userComments {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    // .editComment {
    //     // display: block;
    //     margin: 1.5em 2em;
    //     gap: 1em;
    // }

    .postButtons {
        margin: 1.5em 1em;

        .removePostButton,
        .editPostButton {
            border: unset;
            cursor: pointer;
            align-self: center;
            padding: 0.5em;
            margin: 0 0.75em;
            display: inline;
            font-size: 0.7em;
            color: grey;

            &:hover {
                background-color: grey;
                color: white;

            }
        }
    .removePostButton:hover {
        background-color: red;
    }

    }






    .composeComment,
    .editComment {
        margin: 1.5em 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;



        .composeCommentText,
        .editCommentText {
            display: flex;
            gap: 1em;

            input {
                width: -webkit-fill-available;
            }
        }

        button {
            width: 20%;
            border: unset;
            cursor: pointer;
            align-self: center;
            padding: 0.5em;

            &:hover {
                background-color: rgb(198, 217, 198);
                color: white;
            }
        }
    }

    .editComment {
        margin: 1.5em 1em;
    }

    .buttons {
        display: flex;
        justify-content: space-around;
        font-size: 0.8em;
        // padding-bottom: 0.5em;

        .liked {
            color: red;

        }

        .liked:hover {
            color: grey !important;
        }

        button {
            width: 50%;
            border: unset;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em;

            &:first-child {
                left: 0;

                &:hover {
                    color: red;
                    background-color: white;
                }
            }

            &:last-child {
                right: 0;
            }

            &:hover {
                background-color: rgb(198, 217, 198);
                color: white;
            }

            mat-icon {
                font-size: 0.8;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 0.3em;
            }
        }
    }
}