<app-create-post></app-create-post>

<h2>Mein Feed</h2>

<div  *ngFor="let capybara of capybaras">

    <div *ngFor="let post of capybara.posts" class="card default-card">
        <img *ngIf="post.source" src={{post.source}} alt="">
        <div class="post">
            <div class="postUser">
            <img src="{{capybara.image}}" alt="" class="postUserPicture">
            <p class="author">{{capybara.name}} am {{post.date | date: 'dd.MM.yyyy'}}:</p>
            </div>
            <p>{{post.content}}</p>
            <p class="hashtags">{{post.hashtags}}</p>
            <p>{{post.likes}} Likes</p>
        </div>
        <div class="comments">
            <h3>Kommentare</h3>
            <div *ngIf="post.comments.length == 0 && post.userComment.length == 0" >
                <p>Noch keine Kommentare</p>
            </div>
            <div *ngFor="let comment of post.comments">
                <div class="postUser">
                    <img src="{{comment.image}}" alt="" class="postUserPicture">
                    <p class="comment"><b>{{comment.user}}:</b>  {{comment.comment}}</p >
                </div>
                
            </div>
            <div *ngFor="let userComment of post.userComment; let i = index" class="userComments">
                <p>Du: {{userComment}}</p>
                <div>
                    <button class="editCommentButton" (click)="post.editComment = true; post.id = i">
                        bearbeiten</button>
                    <button class="removeCommentButton" (click)="removeComment(post, i) "> entfernen</button>
                </div>
            </div>

            <div *ngFor="let userComment of post.userComment; let i = index; trackBy: trackByFn">
                <div *ngIf="post.editComment && post.id === i" class="editComment">
                    <label for="{{userComment}}">Kommentar editieren</label>
                    <div class="editCommentText">
                        <input type="text" id="{{userComment}}" [(ngModel)]="post.userComment[i]">
                        <button (click)="post.editComment = false">Kommentar bearbeitet</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="post.commentPossible" class="composeComment">
            <label for="{{post.id}}">Kommentar verfassen</label>
            <div class="composeCommentText">
                <input type="text" id="{{post.id}}" [(ngModel)]="newComment">
                <button (click)="post.commentPossible = false; addComment(post)">Kommentar posten</button>
            </div>

        </div>


        <div class="buttons">
            <button (click)="post.likes = ls.addLike(post.likes, post.liked); post.liked = ls.checkLiked(post.liked)"
                [class.liked]="post.liked">
                <span *ngIf="post.liked; else elseBlock">
                    Liked
                </span>
                <ng-template #elseBlock> Like </ng-template>
                <mat-icon>favorite</mat-icon>
            </button>

            <button (click)="post.commentPossible= true">
                Kommentar schreiben
                <mat-icon>chat</mat-icon>
            </button>
        </div>


    </div>
</div>