.proposals-container {
    // margin: 1.5em 0;
    padding: 1.5em 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    b {
        // padding-bottom: 1em;
    }    
}

.profile-row {
    display: flex;
    align-items: center;
    // margin:2em;



    img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
        margin: 1em 1em 1em 0;
    }
}