<div class="proposals-container">
    <b>Freundesvorschläge</b>


    <div *ngFor="let capybara of capybaras; let i =index">
        <div class="profile-row" *ngIf="capybara.canFollow">
            <img src={{capybara.image}} alt="">
            <div>
                <b>{{capybara.name}}</b>
                <span> {{capybara.description}}</span> <br>
                <a *ngIf="capybara.canFollow" (click)="capybara.canFollow=false">adden</a>

                <!-- <a *ngIf="capybara.canFollow" (click)="fs.addFriend(name, text, source); capybara=false">adden</a> -->
            </div>
        </div>


    </div>


</div>