<div class="proposals-container" *ngIf="dataService.friendListLength != capybaras.length">

    <div >
        <b >Freundesvorschläge</b>
    </div>    
    <div *ngFor="let capybara of capybaras; let i =index">
        <div class="profile-row" *ngIf="capybara.canFollow">
            <img src={{capybara.image}} alt="">
            <div>
                <a routerLink="/profile" (click)="dataService.profileIndex = capybara.id"><b>{{capybara.name}}</b></a>
                <span> {{capybara.description}}</span> <br>
                <a (click)="capybara.canFollow=false; addFriend(i) ">adden</a>
            </div>
        </div>
        
    </div>
</div>